﻿<div class="col-12 wow fadeInUp" data-wow-delay="0.5s">
    <div class="rounded">
        <iframe class="rounded w-100"
                style="height: 400px;" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d8518.584884449456!2d29.137467237892626!3d40.98641689425689!3m2!1i1024!2i768!4f13.1!5e0!3m2!1str!2str!4v1728681490166!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>




