﻿<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(https://as1.ftcdn.net/v2/jpg/06/99/46/60/1000_F_699466075_DaPTBNlNQTOwwjkOiFEoOvzDV0ByXR9E.jpg); "></a>
        <ul class="list-unstyled components mb-5">

            <li><a href="/Dashboard/Index">Dashboard</a></li>
            <li><a href="/Profil/ProfileIndex">Profil Bilgilerim</a></li>
            <li><a href="/About/AboutList">Hakkımda</a></li>
            <li><a href="/Education/EducationList">Eğitim Hayatım</a></li>
            <li><a href="/Skill/SkillList">Yeteneklerim</a></li>
            <li><a href="/Experience/ExperienceList/">İş Deneyimlerim</a></li>
            <li><a href="/Internship/InternshipList">Staj Deneyimlerim</a></li>
            <li><a href="/Stats/Index/">İstatistikler</a></li>
            <li><a href="/Graph/Index">Grafik</a></li>
            <li><a href="/Category/CategoryList">Kategoriler</a></li>
            <li><a href="/Service/ServiceList">Hizmetlerim</a></li>
            <li><a href="/Portfolio/PortfolioList">Portfolyo</a></li>
            <li><a href="/SocialMedia/SocialMediaList">Sosyal Medya</a></li>
            <li><a href="/Message/Inbox/">Gelen Mesajlar</a></li>
            <li><a href="/Testimonial/TestimonialList">Referanslar</a></li>
            <li><a href="#">Ayarlar</a></li>
            <li><a href="#">Çıkış Yap</a></li>

        </ul>

        <div class="footer">
            <p>
                
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır.
            </p>
        </div>

    </div>
</nav>
