﻿@model PortfolioProject.Models.Testimonial
@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/Admin/Index.cshtml";
}
<div class="alert alert-info h4">Yeni Referans Bilgisi Ekleme Sayfası</div>

<form method="post">

    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>Adres</label>
    @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
    <br />
    <label>Yorum</label>
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Fotoğraf Url</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Referans Ekle</button>
</form>