﻿@model PortfolioProject.Models.About

@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="alert alert-info h4">Hakımda Bilgileri Güncelleme Sayfası</div>
<form method="post">

    <label style="display:none">Hakkımda ID</label>
    @Html.TextBoxFor(x => x.AboutId, new { @class = "form-control", @style = "display:none" })
    <br />

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />

    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />

    <label>Fotoğraf</label>
    @Html.TextAreaFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Hakkımda Bilgisini Güncelle</button>

    <br />
    <br />
    <button onclick="goBack()" class="btn btn-outline-warning">Mesaj Sayfasına Geri Dön</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</form>
